<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "BattleDecks", root_path, :class=> "navbar-brand"%>
  </div>
  <!-- /.navbar-header -->

  <%= render 'layouts/shared/navigation/utility'%>

  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">

        <li>
          <%= link_to "Upload a Deck", new_deck_path %>
        </li>

        <li>
          <a href="#"><i class="fa fa-gavel"></i> Tournaments<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
            <li>
              <a href="#">Managing</a>
            </li>
            <li>
              <%=link_to "Upcoming", tournaments_path%>
            </li>
            <li>
              <a href="#">Competing</a>
            </li>
            <li>
              <%= link_to "New Tournament", new_tournament_path%>
            </li>
          </li>
        </ul>
          <!-- /.nav-second-level -->
        </li>
      </ul>
    </div>
    <!-- /.sidebar-collapse -->
  </div>
  <!-- /.navbar-static-side -->
</nav>
